/*
 * Dots are used on the personal assignment page to visually show if 
 * the tests were succesful or not.
 *
 * TODO: find nicer colours
 */
.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.dot-red {
    background-color: red;
}

.dot-green {
    background-color: green;
}

/*
 * This is a fix for the small text in the personal assignment page
 * showing the due date.
 */
.active > h4 > small {
    color: white;
}

.page {
    margin-top: 2rem;
}

.nav-scroll {
    max-height: 50.5rem;
    overflow-y: scroll;
    border-bottom: 1px #DDD solid;
}

.workshop-editor {
    border: 1px solid #DDD; 
}

#update-info-button {
    margin-top: 1rem;
}
