<h1>Admin Land</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Invite User</h2>
        <p>After a user has been invited they will be part of the class!</p>
        <input ng-model="invitee" class="form-control" type="text" placeholder="Enter a users username here..."></input>
        <br>
        <button class="btn btn-primary" ng-click="invite()">Invite</button>
   </div>

    <div class="col-md-6">
        <h2>Broadcast Notification</h2>
        <p>This will display a message to all of the members of your class when they log in next.</p>
        <input class="form-control" type="text" placeholder="Enter the message here..."></input>
        <br>
        <button class="btn btn-primary">Send</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Stats</h2>
        <table class="table table-bordered">
            <tr>
                <th>User count</th>
                <td>30</td>
            </tr>

            <tr>
                <th>Class Name</th>
                <td>Gregs Coding Club</td>
            </tr>

            <tr>
                <th>Collaborations</th>
                <td>40</td>
            </tr>
        </table>
    </div>
</div>
