<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item" href="#">
                <h4>Funny Strings <small class="pull-right">Due in x days</small></h4>
                <p>If the reverse of a character (a = z, b = y, c = x, etc.) is opposite iteself...</p>
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Title of the task <small class="pull-right">Due in x days</small></h2>
            </div>

            <div class="panel-body">
                <p>If the reverse of a character (a = z, b = y, c = x, etc.) is opposite iteself lorem ipsum xyz</p>
                
                <p>perty pictures</p>
                <p>If it is a team assignment, assemble your team</p>
                <p>Another description here</p>
                <p>Sample file stuff</p>
                <p>Open in your sandbox</p>
                <p>Relevant links</p>
            </div>
        </div>
    </div>


</div>
