<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Create a New Workshop</h2>
        <label for="name">Name </label><input type="text" class="form-control" ng-model="workshop.name" name="name" id="name">
        <label for="description">Description</label><input type="text" class="form-control" ng-model="workshop.description" name="description" id="description">
        <label for="expanation">Explanation</label><input type="text" class="form-control" ng-model="workshop.explanation" name="explanation" id="explanation">

        <br>

        <button ng-show="!edit" ng-click="create()" class="btn btn-primary">Add Workshop</button>
        
        <div ng-repeat="page in pages" class="page">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="title">Title</label> <input id="title" type="text" class="form-control" ng-model="page.title"/>
                    </div>

                    <div class="form-group">
                        <label for="content"> Content</label>
                        <textarea ng-model="page.contents" id="content"class="form-control"></textarea>
                    </div>
                </div>

                <div class="panel-footer">
                    <button ng-show="!edit || $last" ng-click="addPage()" class="btn btn-default">Add Page</button>
                    
                    <button ng-show="edit" ng-click="updatePage(page)" class="btn btn-default">Update Page</button>
                </div>
            </div>
        </div>
    </div>
</div>

