<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Workshop Pit Stop <button ng-click="delete()" ng-show="student.permission == 1 && edit" class="btn btn-danger pull-right">Delete</button></h2>
        <label for="name">Name </label><input type="text" class="form-control" ng-model="workshop.name" name="name" id="name">
        <label for="description">Description</label><input type="text" class="form-control" ng-model="workshop.description" name="description" id="description">
        <label for="expanation">Explanation</label><input type="text" class="form-control" ng-model="workshop.explanation" name="explanation" id="explanation">
        <button id="update-info-button" ng-show="edit" class="btn btn-default" ng-click="updateWorkshop()">Update Info</button>

        <hr>

        <button ng-show="!edit && pages.length == 0" ng-click="create()" class="btn btn-primary">Add Workshop</button>
        
        <div ng-repeat="page in pages" class="page">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="title">Title</label> <input id="title" type="text" class="form-control" ng-model="page.title"/>
                    </div>

                    <div class="form-group">
                        <label for="content"> Content</label>

                        <div class="workshop-editor">
                            <ui-codemirror ng-model="page.contents" id="contents" ui-codemirror-opts="editorOpts"></ui-codemirror>
                            <!--<textarea id="contents" ng-model="page.contents"></textarea>-->
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button ng-show="(!edit && !page.created) || $last" ng-click="addPage()" class="btn btn-primary">Save Page</button>
                    
                    <button ng-show="edit || page.created" ng-click="updatePage(page)" class="btn btn-default">Update Page</button>
                </div>
            </div>
        </div>

        <button ng-show="edit && pages[pages.length] != {}" class="btn btn-primary pull-right" ng-click="tempWorkshop()">Add Page</button>
    </div>


</div>

