<div class="row">
    <div class="col-md-8">
        <h3>Greg's Programming School - 30 Students</h3>
        <br>
        <table class="table">
            <tr ng-repeat="update in feedUpdates" ng-switch="update.type">
                <td ng-switch-when="assignment">A</td>
                <td ng-switch-when="feedback">F</td>
                <td ng-switch-when="like">L</td>
                <td ng-switch-when="request">R</td>
                <td ng-switch-default>?</td>

                <td>{{ update.message }}</td>

                <td>{{ update.time }}</td>
            </tr>
        </table>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Due This Week</h3>
                </div>

                <div class="list-group">
                    <a class="list-group-item" ng-repeat="task in dueTasks" ng-href="#/assignments/{{task.id}}"> <i ng-class="{'fa-circle-o': !task.done, 'fa-circle': task.done}" class="fa"></i> {{ task.name }}</a>
                </div>                           
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tasks</h3>
                </div>

                <ul class="list-group">
                    <a class="list-group-item" ng-repeat="task in dueTasks" ng-href="#/assignments/{{task.id}}"> <i ng-class="{'fa-circle-o': !task.done, 'fa-circle': task.done}" class="fa"></i> {{ task.name }}</a>
                </ul>                           

                <div class="panel-footer">
                    See more...
                </div>
            </div>
        </div>
    </div>
</div>

