<div class="row">
    <div class="col-md-10">
        <h1>Welcome to Steel</h1> 
        <p>Steel makes it super easy to start participating or managing a class. It is also super configurable!</p> 
    </div>
</div>

<div class="row" ng-repeat="chunk in chunkedClasses">
    <div class="col-md-4" ng-repeat="class in chunk">
        <div class="panel">
            <h1><a href="#/classes/{{class.id}}">{{class.name}}</a></h1>

            <p>{{class.description}}</p>
        </div>
    </div>
</div>
