<div class="row">
    <div class="col-md-12">
        <h3>Task Name <small>Due date</small></h3>
        <p>Write a set of testable functions which will calculate the doomsday algorithm</p>
        
        <a href="#/assignments/1">The task specification</a>

        <hr>
        <h4>Project Thoughts</h4>
        <p>We here at team my_user_id thought that the project was a nice way for us to practice our use of control statements. One of the things that really tripped us up was using functions properly.... We started off with functions which were doing multiple things, and then realised that they were not testable so we had to start again.</p>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <h4>Team Members</h4>
                <ul>
                    <li>Jimmy</li>
                    <li>Jack</li>
                    <li>Whales</li>
                </ul>
            </div>

            <div class="col-md-6">
                <h4>Submission History</h4>
                <ul>
                    <li>Pass</li>
                    <li>Pass</li>
                    <li>Fail</li>
                    <li>Fail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
