<div class="row">
    <div class="col-md-12">
        <h3>Task Name <small>Due date</small></h3>
        <p>Description goes here</p>
        <p>Link to task spec</p>

        <hr>

        <h4>Team Members</h4>
        <ul>
            <li>Jimmy</li>
            <li>Jack</li>
            <li>Whales</li>
        </ul>

        <hr>

        <h4>Submission History</h4>
        <ul>
            <li>Pass</li>
            <li>Fail</li>
            <li>Fail</li>
            <li>Fail</li>
            <li>Pass</li>
            <li>Fail</li>
        </ul>
    </div>
</div>
