<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Task Name <small class="pull-right">Due date</small></h2>
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <p>Write a set of testable functions which will calculate the doomsday algorithm</p>

                        <a href="#/assignments/1">The task specification</a>


                    </div>
                    <div class="col-md-6">
                        <h4>Team Members</h4>
                        <ul>
                            <li>Jimmy</li>
                            <li>Jack</li>
                            <li>Whales</li>
                        </ul>
                    </div>
                </div>

                <hr>

                <h4>Project Thoughts</h4>
                <p>We here at team my_user_id thought that the project was a nice way for us to practice our use of control statements. One of the things that really tripped us up was using functions properly.... We started off with functions which were doing multiple things, and then realised that they were not testable so we had to start again.</p>

                <hr>

                <h4>Submission History</h4>
                <table class="table">
                    <tr>
                        <th>Status</th>
                        <th>Error</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td class="dot dot-red"></td>
                        <td>Syntax error</td>
                        <td>2 minutes ago</td>
                    </tr>
                    <tr>
                        <td class="dot dot-green"></td>
                        <td>Pass</td>
                        <td>9 minutes ago</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
