<div class="row">
    <div class="col-md-8">
        <ui-codemirror ui-codemirror-opts="editorOpts"></ui-codemirror>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Reversy Hersy Timey Wimey Project</h1>
            </div>

            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>File</th>
                        <td>reverse_string.js</td>
                    </tr>

                    <tr>
                        <th>Type</th>
                        <td>JavaScript</td>
                    </tr>

                    <tr>
                        <th>Owner</th>
                        <td>my_team_id</td>
                    </tr>
                    
                    <tr>
                        <th>Project</th>
                        <td><a href="#/assignments/2">Reverse string</a></td>
                    </tr>

                    <tr>
                        <th>Brief</th>
                        <td>Given a string, how would you reverse it... quickly and easily without using the standard library</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <br>
        <p>Chatting interface goes here</p>

        <ul>
            <li>You know, messages</li>
            <li>To and from people</li>
            <li>Who cannot be bothered to call</li>
            <li>These messages are permanent, and can be used by the teacher to assess your grade?</li>
            <li>Probably filter tooo...</li>
        </ul>
    </div>

    <div class="col-md-4">
        <button class="btn btn-default">Join call <i class="glyphicon glyphicon-earphone"></i></button>
        <button class="btn btn-default">Mute call <i class="glyphicon glyphicon-volume-off"></i></button>
    </div>
</div>
