<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item" ng-repeat="page in pages" ng-click="view(page)">
                <h4>{{ page.order + 1 }}. {{ page.title }}</h4>
            </a>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">{{ selected.title }}
                    <div class="button-group pull-right">
                        <a ng-href="#/classes/{{user.classID}}/workshops/create/{{ selected.id}}" class="btn btn-primary" style="margin-right: 1vw;">Edit</a>
                    </div>
                </h3>

            </div>

            <div class="panel-body">
                <p>{{ selected.contents }}</p>
            </div>
        </div>
    </div>
</div>
